<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <th:block th:include="fragments/header :: head"></th:block>-->
    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">

            <form class="text-center border border-light p-5" method="POST" enctype="multipart/form-data"
                  th:action="@{/admin/topic/addTopic_for_section}" th:object="${topic}">

                <p class="h4 mb-4">Create Topic For Section
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></div>
                <div class="alert alert-danger" role="alert" th:if="${error}" th:utext="${error}"></div>

                <div class="alert alert-success" role="alert" th:if="${msg}">
                    <a class="nav-link" href="/admin/course">go course page</a>
                </div>
                <div class="alert alert-success" role="alert" th:if="${error}" th:utext="${error}"></div>
                     <input type="hidden" th:field="*{id}">
                     <input type="number"  th:field="*{section_id}"  class="form-control mb-4" placeholder="Section ID ">
                     <input type="text"  th:field="*{topic_name}" class="form-control mb-4" placeholder="write section or chapter name">

                <input type="file"  th:name="file" class="form-control mb-4" placeholder="Upload File">
                <button class="btn btn-info btn-block" type="submit">Send</button>
            </form>
        </div>
    </div>



</div>

<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>