<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <th:block th:include="fragments/header :: head"></th:block>-->
    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <!-- <div th:replace="/fragments/header :: navigation_menu"></div>-->
    <br>


    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-21 col-lg-12">
            <br>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#home"
                       id="home-tab"
                       role="tab"> General</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="settings" aria-selected="false" class="nav-link" data-toggle="tab"
                       href="#settings" id="settings-tab"
                       role="tab">Settings </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile"
                       id="profile-tab"
                       role="tab">PDF</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="contact" aria-selected="false" class="nav-link" data-toggle="tab" href="#contact"
                       id="contact-tab"
                       role="tab">IMAGES : JPEG/PNG</a>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">


                    <div th:replace="/fragments/profile_general_section :: profile-general"></div>



                </div>
                <div aria-labelledby="settings-tab" class="tab-pane fade" id="settings" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 col-md-21 col-lg-12">
                            <br>
                            <h3>Settings Section.....</h3>
                            <br>
                            <div class="row">
                                <br>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <a class="nav-link" th:href="@{/profile_pic_upload}">
                                            <li class="list-group-item">Set Profile Picture</li>
                                        </a>
                                        <a class="nav-link" th:href="@{/#}">
                                            <li class="list-group-item">Description</li>
                                        </a>
                                        <a class="nav-link" th:href="@{/#}">
                                            <li class="list-group-item">Modes</li>
                                        </a>
                                        <a class="nav-link" th:href="@{/#}">
                                            <li class="list-group-item">CC</li>
                                        </a>
                                        <a class="nav-link" th:href="@{/#}">
                                            <li class="list-group-item">Upload Image</li>
                                        </a>
                                        <a class="nav-link" th:href="@{/#}">
                                            <li class="list-group-item">Social Links</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-3">
                                    <ul class="list-group">
                                        <a class="nav-link"th:href="@{/blog/file_upload}">
                                            <li class="list-group-item">Upload Image</li>
                                        </a>
                                        <a class="nav-link"th:href="@{/files/view}">
                                            <li class="list-group-item">View All Image</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="col-3"></div>
                                <div class="col-3"></div>
                                <br>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 col-md-21 col-lg-12">
                            <br>
                            <h3>PDF file Section.....</h3>
                            <br>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="contact-tab" class="tab-pane fade" id="contact" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-12 col-sm-12 col-md-21 col-lg-12">
                            <br>
                            <h3>Images file Section.....</h3>
                            <br>
                            <a class="btn btn-primary" th:href="@{/blog/file_upload}" role="button">Upload File</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div th:replace="/fragments/header :: footer"></div>
    <br>
</div>
<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>