<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="/header :: header-css-and-meta"></div>


</head>
<body>


<div th:fragment="admin-info">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Classic tabs -->
        <div class="classic-tabs mx-2">

            <ul class="nav tabs-orange" id="myClassicTabOrange" role="tablist">
                <li class="nav-item">
                    <a class="nav-link  waves-light active show" id="profile-tab-classic-orange" data-toggle="tab" href="#profile-classic-orange"
                       role="tab" aria-controls="profile-classic-orange" aria-selected="true"><i class="fas fa-user fa-2x pb-2"
                                                                                                 aria-hidden="true"></i><br>Admin info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="follow-tab-classic-orange" data-toggle="tab" href="#follow-classic-orange"
                       role="tab" aria-controls="follow-classic-orange" aria-selected="false"><i class="fas fa-heart fa-2x pb-2"
                                                                                                 aria-hidden="true"></i><br>Follow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="contact-tab-classic-orange" data-toggle="tab" href="#contact-classic-orange"
                       role="tab" aria-controls="contact-classic-orange" aria-selected="false"><i class="fas fa-envelope fa-2x pb-2"
                                                                                                  aria-hidden="true"></i><br>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="awesome-tab-classic-orange" data-toggle="tab" href="#awesome-classic-orange"
                       role="tab" aria-controls="awesome-classic-orange" aria-selected="false"><i class="fas fa-star fa-2x pb-2"
                                                                                                  aria-hidden="true"></i><br>Be awesome</a>
                </li>
            </ul>

            <div class="tab-content card" id="myClassicTabContentOrange">
                <div class="tab-pane fade active show" id="profile-classic-orange" role="tabpanel" aria-labelledby="profile-tab-classic-orange">
                    <p>All Admin info</p>
                    <br>
                    <a class="btn btn-primary" th:href="@{/admin/signup}"  role="button" >Create New Admin</a>
                    <br>

                    <table class="table table-striped">
                        <thead>
                        <th scope="row">#ID</th>
                        <th scope="row">Email</th>
                        <th scope="row">Username</th>
                        <th scope="row">Update</th>
                        <th scope="row">Delete</th>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${adminLIST}">
                            <td th:text="${list.id}"></td>
                            <td th:text="${list.email}"></td>
                            <td th:text="${list.username}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/updateCourse/__${list.id}__}"  role="button" >Update</a>
                            </td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/deleteCourse/__${list.id}__}" role="button" >Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>










                </div>
                <div class="tab-pane fade" id="follow-classic-orange" role="tabpanel" aria-labelledby="follow-tab-classic-orange">
                    <p>2nd phase</p>
                </div>
                <div class="tab-pane fade" id="contact-classic-orange" role="tabpanel" aria-labelledby="contact-tab-classic-orange">
                    <p>3rd phase </p>
                </div>
                <div class="tab-pane fade" id="awesome-classic-orange" role="tabpanel" aria-labelledby="awesome-tab-classic-orange">
                    <p>4th phase</p>
                </div>
            </div>

        </div>
        <!-- Classic tabs -->
        </div>
    </div>
</div>

<div th:fragment="admin_menu">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin/home}"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/course}">Course</a></li>
                    <li class="breadcrumb-item"><a href="#">Section</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item"><a href="#">Course</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Section</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="admin_course_info">
    <div class="row">
        <br>
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link" th:href="@{/admin/course/create}" th:target="_blank">Create Course</a>
                </li>
                <li class="list-group-item"> <a class="nav-link" th:href="@{/admin/course/last_10_course}"
                                                th:target="_blank">See Latest 10 created Course without section</a>
                </li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
            </ul>
        </div>
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="nav-link" th:href="@{/admin/course/course_with_section_last_10}" th:target="_blank"> 10 course with section</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" th:href="@{/admin/course/last_10_final}" th:target="_blank">Last 10
                    </a>
                </li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
            </ul>
        </div>

        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">AAA</li>
                <li class="list-group-item">ZZZ</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
            </ul>
        </div>
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">XXXX</li>
                <li class="list-group-item">AAA</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
                <li class="list-group-item">XXX</li>
            </ul>
        </div>
        <br>
    </div>
</div>


<div th:fragment="course_list_last_10">
    <div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-striped">
                <thead>
                <th scope="row">#ID</th>
                <th scope="row">Course Name</th>
                <th scope="row"> Blog</th>
                <th scope="row">Chapter</th>
                <th scope="row">Update Course</th>
                <th scope="row">Delete Course</th>
                </thead>
                <tbody>
                <tr th:each="list : ${courseLists}">
                    <td th:text="${list.course_id}"></td>
                    <td th:text="${list.course_name}"></td>
                    <td><a th:href="@{/admin/course/blog/__${list.course_id}__}">blog</a> </td>
                    <td><a th:href="@{/admin/sec/addSec_for_course}">Add Section</a> </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/course/update_course/__${list.course_id}__}"  role="button" >Update</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/admin/course/delete_course/__${list.course_id}__}" role="button" >Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div th:replace="/header :: all-js"></div>
</body>
</html>
