

@media (min-width: 1920px) and (max-width: 2560px) {
.container-fluid { width: 85%}
}


@media (min-width: 1600px) and (max-width: 1920px) {
    .container-fluid { width: 90%}
}

@media (min-width: 1000px) and (max-width: 1599px) {
    .container-fluid { width: 95%}
    .auth_001 {
                    margin-right: -57px;
                    border: none;
               }
}




@media (min-width: 360px) and (max-width: 1000px) {
    .container-fluid { width: 100%}
}



.banner01 { width: 100%;  }
.logo_001, .search_001, .app_001, .auth_001 { height: 80px;  }

.logo_001 {}
.logo_001 img { width: 100%; height: 100%;  }

.search_001 { padding-top: 20px; }

.auth_001 {  padding-top: 20px; float: right;}

.auth_001 ul li { display: inline-flex; }


.nnnab {  }




.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}


.footer_main { width: 100%; background-color: lightgray}


.content-video-img { border: 1px solid slategray; width: 70%; height: 450px;}
.content-video-img img { alignment: center; background-repeat: no-repeat; padding-left: 285px;
padding-top: 120px;}

.topic-video { border: 1px solid slategray; width: 70%; height: 450px;}


.comments-button { width: 100%;  }


.topic_course { padding: 0px 0px 0px; margin: 0px 0px 0px 0px;}


.left_Portion { float: left; border: 2px red; width: 100%; height: auto;}


.profile_pic {width: 250px; height: 280px; float: left; border: none;}

.profile_img { display: inline-block; float: left;}



/*
#################
*/
.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/****
////////////
 */

.profile_general_right {

    border: 1px solid lightgray;
    margin-top: 45px;
    min-height: 470px;

}


.profile_general_left { border: 1px solid lightgray;
                        margin-top: 45px;

                       }
.profile_general_left  ul li { list-style: none;}


.hhhpp {}
.hhhpp a:hover {border-style: none; }



.markdown-syntax { min-height: 600px; width: 100%; margin-top: 55px;}




