<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
<div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu">

    <!--<div class="row">
        <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12 nnnab">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><i class="fas fa-indent"></i></a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">General</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link " href="#">Academic</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Professional</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#">TLD</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Trending</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                        <li class="nav-item right">
                            <a class="nav-link navbar-nav justify-content-end" th:href="@{/#}">Blog</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">App</button>

                </div>
            </nav>
        </div>
    </div>-->


    </div>


    <br>
    <div class="alert alert-secondary" role="alert">Course Details</div>
    <br>


    <div class="row">

        <div class="col-md-3 col-sm-3">
            <div class="alert alert-primary" role="alert" th:text=" 'Course Name: '+${course_full.course_name}"></div>
            <div class="alert alert-secondary" role="alert"><a class="nav-link" th:href="@{/v/course/__${course_full.course_id}__}"> Blog</a></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <ul class="list-group" th:each="section : ${section}">
                <a th:href="@{/v/course/all_topic/__${section.section_id}__}" class="nav-link list-group-item" th:text="${section.name}"></a>
            </ul>
        </div>
        <div class="col-md-3 col-sm-3"></div>
    </div>



</div>
<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>