<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="/fragments/header :: header-css-and-meta"/>

</head>
<body>
  <div class="container-fluid">
    <div th:replace="/fragments/header :: banner"></div>
    <div th:replace="/fragments/header :: navigation_menu"></div>
       <div class="row"><div class="col-xl-12 col-sm-12 col-md-12 col-lg-12"><br></div></div>


      <div class="row">
          <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2">
              <div class="border border-light blog_left_side"></div>
          </div>
          <div class="col-xl-8 col-sm-8 col-md-8 col-lg-8">
             <div th:each="post : ${post}">
                 <h3 th:text="${post.post_title}"></h3>
                 <hr>
                 <p th:utext="${post.getMarkup()}"></p>
             </div>
          </div>
              <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="border border-light blog_right_side"></div>
              </div>
      </div>
      <div class="row">
          <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2"></div>
          <div class="col-xl-8 col-sm-8 col-md-8 col-lg-8">
               <div sec:authorize="!isAuthenticated()">
                 <div class="alert alert-danger" role="alert">
                  Please Login to write comments also see other comments
                 </div>
               </div>

              <div sec:authorize="isAuthenticated()">
                  <br>
                  <hr>
                  <br>
                  <div class="comments-button">
                      <a th:href="@{'/post/{id}'(id=${post.post_id})}" class="btn btn-info">Write Comments about this topic</a>
                      <br>
                  </div>

                  <div class="comments_and_other_tabs">
                      <br>
                      <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                 href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Comments</a>
                          </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                          <br>
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div class="row">
                                  <div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                      <br>
                                      <div class="border border-dark blog-comments"></div>
                                      <!--Comments-->
                                  <!--    <div class="well" th:each="comment : ${commentsList}">
                                          <h5 th:text="${comment.comment_body}">Body</h5>
                                          <div th:text="'Created: ' + ${#dates.format(comment.comment_date, 'dd-MMM-yyyy')} + ' by '">
                                              Created by
                                          </div>
                                          <div><a th:text="${comment.user.firstname}" th:href="@{'/#/' + ${comment.user.username}}">User</a>
                                          </div>-->
                                          <br>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                  <div class="row bootstrap snippets">
                      <div class="col-md-6 col-md-offset-2 col-sm-12">
                          <div class="comment-wrapper">
                              <div class="panel panel-info">
                                  <div class="panel-heading">
                                      Comment panel
                                  </div>
                                  <div class="panel-body">
                                      <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                      <br>
                                      <button type="button" class="btn btn-info pull-right">Post</button>
                                      <div class="clearfix"></div>
                                      <hr>
                                      <ul class="media-list">
                                          <li class="media">
                                              <a href="#" class="pull-left">
                                                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                              </a>
                                              <div class="media-body" style="border: 2px solid blue; margin-left: 10px;">
                                                  <ul style="list-style: none; float: left; border: 1px solid blue;">
                                                      <li><strong style="border: 1px solid black; float: left; margin-left: -40px;" class="text-success">@MartinoMont</strong></li>
                                                  </ul>
                                                  <ul style="float: right; list-style: none">
                                                      <small class="text-muted">30 min ago</small>
                                                  </ul>
                                                  <br>
                                                  <p>
                                                      <br>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                      Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                                  </p>
                                              </div>
                                          </li>
                                          <li class="media">
                                              <a href="#" class="pull-left">
                                                  <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                                              </a>
                                              <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                                  <strong class="text-success">@LaurenceCorreil</strong>
                                                  <p>
                                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                      Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                                  </p>
                                              </div>
                                          </li>
                                          <li class="media">
                                              <a href="#" class="pull-left">
                                                  <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                                              </a>
                                              <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                                  <strong class="text-success">@JohnNida</strong>
                                                  <p>
                                                      Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                                                  </p>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>


                  </div>
              </div>
          </div>
          <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2"></div>
      </div>
             <div th:replace="/fragments/header :: footer"></div>
  </div>

<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>